* {
    /* box-sizing: border-box; */
    color: #252323;
    font-family: 'Lucida Sans', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

body{
    background-image: url(../assets/default-sky.jpg);
    background-color: rgb(91, 157, 248);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom right,
    left,
    right; */
}

#topBar, h2, h1, .weatherButton, .dropdown{
    margin-bottom: 1em;
}

h2, h1, #changeWeather, footer{
    text-align: center;
}

#topBar {
    background-color: #4C535D;
    margin: 0;
    padding: .5em;
    margin-bottom: 5em;
    color: white;
}

main {
    /* padding: .5em; */
    padding-bottom: 25px;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    font-size: .75em;
}

h2{
    font-size: 2.5em;
    font-style: italic;
    margin-bottom: 1.5em;
}

h1{    
    font-size: 4em;}

#temp {
    border: 2px solid black;
    padding: .5em;
    margin: 1em;
}

.weatherButton {
    font-size: 16px;
}

.skyDropdown {
    font-size: 16px;
    border: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 40px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 0px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10.85em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content option {
    color: black;
    padding: .5em;
    text-decoration: none;
    text-align: right;
    display: block;
}

.select_arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.dropdown-content option:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

